<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/style.css" />
        <title>Document</title>
    </head>
    <body>
        <center>
            <div class="square">
                <div class="lamp"></div>
                <div class="ten">
                    <div class="lines">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="footer"></div>
                <div class="left-squares">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="square-3"></div>
                    <div class="square-4"></div>
                </div>
                <div class="right-co2"></div>
            </div>
        </center>
    </body>
</html>
