<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/style.css" />
        <title>Document</title>
    </head>
    <body>
        <center>
            <div class="square">
                <div class="lamp">
                    <div class="lebel-line"></div>
                    <button></button>
                </div>
                <div class="ten">
                    <div class="lines">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div
                        class="lebel-line"
                        id="ten"></div>
                </div>
                <div class="footer"></div>
                <div class="left-squares">
                    <div class="square-1"></div>
                    <div class="square-2"></div>
                    <div class="square-3"></div>
                    <div class="square-4"></div>
                </div>
                <div class="right-co2">
                    <div
                        class="lebel-line"
                        id="co2"></div>
                        <button></button>
                </div>

                <div class="right-control-panel"></div>
            </div>
        </center>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('button').click(function () {
                const button = $(this);
                const currentColor = button.css('background-color');

                if (currentColor === 'rgb(255, 255, 255)') { 
                    button.css('background-color', 'rgb(46, 255, 46)'); 
                } else {
                    button.css('background-color', 'rgb(255, 255, 255)');
                }
            });
        });
    </script>
</html>
